# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename and separated into sections for Maintainers KEEP IT THAT WAY
# In the event that people are to be informed of changes
# to the same file or dir, add them to the end of under Multiple Owners

# Fira

/.dockerignore @SpypigDev
/code/controllers/subsystem/atoms.dm @SpypigDev
/code/controllers/subsystem/mapping.dm @SpypigDev
/code/controllers/subsystem/sound.dm @SpypigDev
/code/controllers/subsystem/predships.dm @SpypigDev
/code/controllers/subsystem/quadtrees.dm @SpypigDev
/code/datums/quadtree.dm @SpypigDev
/code/datums/soundOutput.dm @SpypigDev
/code/game/cas_manager/ @SpypigDev
/code/game/machinery/computer/dropship_weapons.dm @SpypigDev
/code/game/sound.dm @SpypigDev
/code/game/world.dm @SpypigDev
/code/modules/mapping/reader.dm @SpypigDev
/code/modules/mapping/map_template.dm @SpypigDev
/code/modules/nightmare/ @SpypigDev
/tools/docker/ @SpypigDev
/Dockerfile @SpypigDev

# Zonespace

/code/datums/tutorial/ @SpypigDev
/code/modules/admin/verbs/SDQL2/ @SpypigDev
/maps/tutorial/ @SpypigDev

# MULTIPLE OWNERS

/code/modules/mob/living/carbon/human/ai/ @SpypigDev
